$lightGreen: #b9e7e7;
.navbar {
  padding: 0px 80px;
  .container {
    // padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .link {
      color: inherit;
      text-decoration: none;

      h6 {
        font-size: 16px;
        font-weight: 300;
      }
      span {
        cursor: pointer;

      }
      
    }

    .links {
      display: flex;
      align-items: center;
      gap: 10px;

      .write-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightGreen;
        width: 50px;
        height: 30px;
        // border-radius: 50%;
        border: 1px solid white;
        color: white;
        &:hover {
          color: gray;
          background-color: white;
          border: 1px solid $lightGreen;
        }
      }
    }
  }
}